body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  background-image: url(/assets/download.jpg)
}

textarea {
  color: #000000;
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid lightseagreen;
  opacity: 85%;
}

.description {
  color: #000000 !important;
  font-weight: bolder;
  white-space: pre-wrap;
  background-color:  rgba(28, 19, 158, 0.3);
  
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid lightgray;
  opacity: 80%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px dashed #000000;
  text-align: center;
  padding-top: 2.5%;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:  lightseagreen;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#currentDay {
  font-size: 26px;
  font-weight: bolder;
  margin: 0;
}